* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: "Fira Code", monospace;
  background: rgba(1, 12, 21, 1);
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #607b96;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}

.loading {
  font-size: 4em;
  font-weight: 500;
}
.loading > * {
  color: #fff;
}
.loading span {
  display: inline-flex;
}
.loading span:nth-child(2) {
  letter-spacing: -1em;
  overflow: hidden;
  animation: reveal 3000ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    alternate;
}
@keyframes reveal {
  0%,
  100% {
    opacity: 0.5;
    letter-spacing: -1em;
  }
  50% {
    opacity: 1;
    letter-spacing: 0em;
  }
}
